logging.level.org.springframework=WARN

autochirp.domain=https://www.example.org

autochirp.database.dbfile=
autochirp.database.schema=

autochirp.parser.uploadtemp=
autochirp.parser.dateformats=

spring.social.twitter.appId=
spring.social.twitter.appSecret=
