/* NOSCRIPT */
[data-toggle="dropdown"]:focus + .dropdown-menu {
  display: block;
}
// NOSCRIPT

/* GLOBBAL */
.wrapper {
  .container {
    margin-top: 60px;
  }
}
// GLOBAL

/* NAVBAR */
#navbar {
  .navbar-nav > li > form {
    padding: 8px 10px;
  }

  .navbar-image {
    border-radius: 3px;
    border: 1px solid #9d9d9d;
    margin: -8px 0;
    max-height: 34px;

    &:hover, &:active {
      border-color: #ffffff;
    }
  }

  .active {
    .navbar-image {
      border-color: #ffffff;
    }
  }

  :hover {
    text-decoration: none;
  }
}
// NAVBAR

/* FOOTER */
$footer-height: 51px;

html {
  position: relative;
  min-height: 100%;

  body {
    margin-bottom: $footer-height;

    #footer {
      background-color: #eeeeee;
      bottom: 0;
      height: $footer-height;
      position: absolute;
      width: 100%;

      .container {
        margin-top: 15px;
      }
    }
  }
}
// FOOTER
