/* NOSCRIPT */
[data-toggle="dropdown"]:focus + .dropdown-menu {
  display: block;
}
// NOSCRIPT
/* GLOBBAL */
$navbar-height: 60px;
html {
  overflow-y: scroll;
  .wrapper {
    .container {
      margin-top: $navbar-height;
    }
  }
}
// GLOBAL
/* NAVBAR */
.navbar-inverse .navbar-nav {
  > li > a > img,
  > .active > a > img {
    border-radius: 3px;
    margin: -8px 0;
    max-height: 34px;
  }
  > li > a > img {
    border: 1px solid #9d9d9d;
    &:hover,
    &:active {
      border-color: #ffffff;
    }
  }
  > .active > a > img {
    border: 1px solid #ffffff;
  }
}
// NAVBAR
/* HELP-SIDEBAR */
.fixed {
  position: fixed;
}
/* sidebar */
.bs-docs-sidebar {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 20px;
  .nav {
    > li {
      > a {
        color: #9d9d9d;
        border-left: 2px solid transparent;
        font-weight: 400;
        padding: 4px 20px;
      }
      > .active > a,
      > a:hover,
      > a:focus {
        background-color: transparent;
        border-left-color: #080808;
        color: #080808;
        text-decoration: none;
      }
    }
    .nav {
      > li > a {
        //        font-size: 12px;
        padding-bottom: 1px;
        padding-left: 30px;
        padding-top: 1px;
      }
      > .active > a,
      > .active:hover > a,
      > .active:focus > a {
        border-left-color: #080808;
        font-weight: 500;
      }
    }
    > .active > a,
    > .active:hover > a,
    > .active:focus > a {
      border-left-color: #080808;
      font-weight: 700;
    }
    ul.nav {
      display: none;
    }
    > .active > ul.nav {
      display: block;
    }
  }
}
.bs-docs-content {
  *[id].group,
  *[id].subgroup {
    padding-top: $navbar-height;
    margin-top: -$navbar-height;
  }
}
// HELP-SIDEBAR
/* PANEL-INVERSE */
.panel-inverse {
  border-color: #080808;
  > .panel-heading {
    background-color: #222;
    color: #ffffff;
  }
}
// PANEL-INVERSE
/* FOOTER */
$footer-height: 51px;
html {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: $footer-height;
    #footer {
      background-color: #eeeeee;
      bottom: 0;
      height: $footer-height;
      position: absolute;
      text-align: right;
      width: 100%;
      .container {
        margin-top: 15px;
      }
    }
  }
}
// FOOTER
/* FORMVALIDATION */
textarea[required]:invalid,
input[required]:invalid {
  background-color: #fcf8e3;
}
// FORMVALIDATION
/* CUSTOM */
.well-condensed {
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
tr {
  .tweetdate {
    width: 11em;
  }
  .actions {
    width: 7em;
  }
}
video.helpcast {
  border-radius: 4px;
  width: 100%;
}
// CUSTOM
