<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title)">
  <meta charset="UTF-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

  <meta name="author" content="Alena Geduldig [geduldia@smail.uni-koeln.de], Philip Schildkamp [philip.schildkamp@smail.uni-koeln.de]"></meta>
  <meta name="description" content="autoChirp: Automate Your Twitter experiance!"></meta>
  <meta name="keywords" content="autoChirp, auto, automate, twitter, publish, tweet, social"></meta>

  <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
  <link th:href="@{/css/style.css}" rel="stylesheet"></link>

  <title th:text="${title} + ' &mdash; autoChirp'"></title>
</head>

<body>
  <nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a th:href="@{/home}" class="navbar-brand">autoChirp</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li th:classappend="${#httpServletRequest.requestURI.equals('/home')} ? 'active'"><a th:href="@{/home}">Home</a></li>
          <li th:classappend="${#httpServletRequest.requestURI.equals('/about')} ? 'active'"><a th:href="@{/about}">About</a></li>
          <li th:classappend="${#httpServletRequest.requestURI.equals('/contact')} ? 'active'"><a th:href="@{/contact}">Contact</a></li>
          <li th:classappend="${#httpServletRequest.requestURI.equals('/help')} ? 'active'"><a th:href="@{/help}">Help</a></li>
        </ul>
        <ul th:unless="${twitter != null}" class="nav navbar-nav navbar-right">
          <li>
            <form th:action="@{/connect/twitter}" method="post">
              <button class="btn btn-link" type="submit">Login</button>
            </form>
          </li>
        </ul>
        <ul th:if="${twitter != null}" class="nav navbar-nav navbar-right">
          <li th:classappend="${#httpServletRequest.requestURI.equals('/dashboard')} ? 'active'"><a th:href="@{/dashboard}">Dashboard</a></li>
          <li th:classappend="${#httpServletRequest.requestURI.startsWith('/tweets')} ? 'active'" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tweets <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a th:href="@{/tweets}">View tweets</a></li>
              <li><a th:href="@{/tweets/add}">Add new tweet</a></li>
            </ul>
          </li>
          <li th:classappend="${#httpServletRequest.requestURI.startsWith('/groups')} ? 'active'" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a th:href="@{/groups}">View groups</a></li>
              <li><a th:href="@{/groups/add}">Add new group</a></li>
              <li role="separator" class="divider"></li>
              <li><a th:href="@{/groups/import}">Import group</a></li>
            </ul>
          </li>
          <li th:classappend="${#httpServletRequest.requestURI.equals('/tests')} ? 'active'"><a th:href="@{/tests}">Tests</a></li>
          <li th:classappend="${#httpServletRequest.requestURI.equals('/account')} ? 'active'">
            <a th:href="@{/account}" class="image"><img th:src="${twitter.image}"></img></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <footer th:fragment="footer" id="footer">
    <div class="container">
      &copy;
      <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span>
      <a href="mailto:geduldia@smail.uni-koeln.de">Alena Geduldig</a>,
      <a href="mailto:philip.schildkamp@smail.uni-koeln.de">Philip Schildkamp</a>
      (<a href="http://www.uni-koeln.de">Universität zu Köln</a>)
    </div>
  </footer>

  <div th:fragment="scripts">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
  </div>
</body>

</html>
