<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Groups')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Tweet groups
            <small>View and edit Your tweet groups</small></h2>
          <hr></hr>
        </div>
      </div>
      <div th:if="${#lists.isEmpty(tweetGroups)}" class="row">
        <div class="col-md-12">
          <h3 class="text-danger">You don't have any groups yet!</h3>
        </div>
      </div>
      <div th:unless="${#lists.isEmpty(tweetGroups)}" class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>#</th>
                  <th>Description</th>
                  <th class="text-center">Status</th>
                  <th class="text-right actions">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tweetGroup : ${tweetGroups}">
                  <td><a th:href="@{/groups/view/} + ${tweetGroup.groupID}" th:text="${tweetGroup.title}"></a></td>
                  <td th:text="${#lists.size(tweetGroup.tweets)}"></td>
                  <td th:text="${tweetGroup.description}"></td>
                  <td class="text-center">
                    <span class="label" th:classappend="${tweetGroup.enabled} ? label-success : label-warning"
                      th:text="${tweetGroup.enabled} ? Enabled : Disabled"></span>
                  </td>
                  <td class="text-right">
                    <a th:href="@{/groups/edit/} + ${tweetGroup.groupID}">Edit</a> |
                    <a th:href="@{/groups/delete/} + ${tweetGroup.groupID}">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div th:if="${pages != null}" class="panel-footer">
              <nav class="text-center">
                <ul class="pagination">
                  <li th:classappend="${page == 1} ? disabled">
                    <a th:href="${page == 1} ? '#' : @{/groups/view?page=} + ${page - 1}" aria-label="Previous">
                      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
                  <li th:each="i : ${#numbers.sequence(1, pages)}" th:classappend="${page == i} ? active">
                    <a  th:href="@{/groups/view?page=} + ${i}" th:text="${i}"></a></li>
                  <li th:classappend="${page == pages} ? disabled">
                    <a th:href="${page == pages} ? '#' : @{/groups/view?page=} + ${page + 1}" aria-label="Next">
                      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
