<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='About')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Legal notices</h2>
          <hr></hr>
          <p class="text-justify">
            Neither the University of Cologne nor the authors and associates of this website warrant its operation or the accuracy and topicality of the information provided thereon.
            Furthermore, in its ruling of 12 May 1998, the district court (Landgericht) of Hamburg decided that with the displaying of a link, a website operator can under certain circumstances be held liable for the contents of the linked web page.
            According to the district court, this can only be avoided by explicitly distancing oneself from these contents. Thus, the for this website responsible persons declare:
            "We hereby disclaim responsibility for the content of all websites mentioned or linked here. We are not responsible for these contents and distance ourselves from them."
            Lastly, all company, product and service names used within this website are for identification purposes only. All trademarks and registered trademarks are the property of their respective owners.          </p>
        </div>
        <div class="col-md-6">
          <h2>Privacy policy</h2>
          <hr></hr>
          <p class="text-justify">
            We do not access any sensitive information available through granting this application access to Your Twitter-account. All stored data revolves around the information You directly provide.
            In detail, Your Twitter-ID and the associated Twitter API token and secret as well as all information about scheduled Tweets and the groups containing them are stored permanently.
            Furthermore, we deliberately provide You with full control over Your information, as all persisted data gets deleted when You choose to delete Your autoChirp-account.
            Lastly, we want to assure You, that no trackers or analyzation tools whatsoever are embedded in this website.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="well well-condensed">
            <h3>Institution</h3>
            <address>
              <strong>Universität zu Köln</strong><br />
              Sprachliche Informationsverarbeitung<br />
              Institut für Linguistik<br />
              Albertus-Magnus-Platz<br />
              D-50931 Köln<br />
              <abbr title="Telephone">T:</abbr> (+49) 221 - 470 4170<br />
              <abbr title="Telefax">F:</abbr> (+49) 221 - 470 5193
          </address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-condensed">
            <h3>Academic patrons</h3>
            <address>
              <strong>Dr. Øyvind Eide</strong><br />
              <abbr title="Telephone">T:</abbr> (+49) 221 - 470 3022<br />
              <abbr title="E-Mail">M:</abbr> oeide@uni-koeln.de
            </address>
            <address>
              <strong>Dr. Jürgen Hermes</strong><br />
              <abbr title="Telephone">T:</abbr> (+49) 221 - 470 4170<br />
              <abbr title="E-Mail">M:</abbr> jhermes@spinfo.uni-koeln.de
            </address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-condensed">
            <h3>Development</h3>
            <address>
              <strong>Alena Geduldig</strong><br />
              <abbr title="E-Mail">M:</abbr> ageduldi@uni-koeln.de
              </address>
            <address>
              <strong>Philip Schildkamp</strong><br />
              <abbr title="E-Mail">M:</abbr> philip.schildkamp@lmu.de<br />
              <abbr title="XMPP/Jabber">IM:</abbr> phil.schluss@maskera.de
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
