<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Account')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div th:unless="${session.account != null}" class="wrapper">
    <div class="jumbotron">
      <div class="container">
        <h1><strong>Not authorized</strong> so please login</h1>
        <p>I really want to assist You, but You have to login to Twitter for me!</p>
      </div>
    </div>
  </div>

  <div th:if="${session.account != null}" class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Account details</h2>
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-inverse">
            <div class="panel-heading">Account details</div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Account id</dt><dd th:text="${session.account.userID}"></dd>
                <dt>Group count</dt><dd th:text="${groups}"></dd>
                <dt>Tweet count</dt><dd th:text="${tweets}"></dd>
              </dl>
            </div>
            <div class="panel-footer text-right">
              <a th:href="@{/account/delete}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete account</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">Twitter connection</div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Twitter handle</dt>
                <dd>
                  <a th:href="${session.account.url}"
                    th:text="'@' + ${session.account.handle}" target="_blank"></a>
                </dd>
                <dt>Twitter ID</dt><dd th:text="${session.account.twitterID}"></dd>
                <dt>Full name</dt><dd th:text="${session.account.name}"></dd>
                <dt>Twitter bio</dt><dd th:text="${session.account.description}"></dd>
                <dt><a href="https://support.twitter.com/articles/14016">Protected</a></dt><dd th:text="${session.account.protected}"></dd>
                <dt><a href="https://support.twitter.com/articles/122236">Location-enabled</a></dt><dd th:text="${session.account.geoEnabled}"></dd>
              </dl>
            </div>
            <div class="panel-footer text-right">
              <a th:href="@{/account/logout}" class="btn btn-danger">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
