<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Home')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Contact information</h2>
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="well well-condensed">
            <h3>Institution</h3>
            <address>
              <strong>Universität zu Köln</strong><br />
              Sprachliche Informationsverarbeitung<br />
              Institut für Linguistik<br />
              Albertus-Magnus-Platz<br />
              D-50931 Köln<br />
              <abbr title="Telephone">T:</abbr> (+49) 221 - 470 4170<br />
              <abbr title="Telefax">F:</abbr> (+49) 221 - 470 5193
          </address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-condensed">
            <h3>Academic patrons</h3>
            <address>
              <strong>Dr. Øyvind Eide</strong><br />
              Albertus-Magnus-Platz<br />
              D-50931 Köln<br />
              <abbr title="E-Mail">M:</abbr> oeide@uni-koeln.de
            </address>
            <address>
              <strong>Dr. Jürgen Hermes</strong><br />
              Albertus-Magnus-Platz<br />
              D-50931 Köln<br />
              <abbr title="E-Mail">M:</abbr> jhermes@spinfo.uni-koeln.de
            </address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-condensed">
            <h3>Development</h3>
            <address>
              <strong>Alena Geduldig</strong><br />
              Albertus-Magnus-Platz<br />
              D-50931 Köln<br />
              <abbr title="E-Mail">M:</abbr> ageduldi@uni-koeln.de
              </address>
            <address>
              <strong>Philip Schildkamp</strong><br />
              Albertus-Magnus-Platz<br />
              D-50931 Köln<br />
              <abbr title="E-Mail">M:</abbr> philip.schildkamp@lmu.de
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
