<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Home')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Contact information</h2>
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis
            sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis,
            pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio
            eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
        </div>
        <div class="col-md-6">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis
            sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis,
            pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio
            eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="well well-condensed">
            <h3>Institution</h3>
            <address>
            <strong>Universität zu Köln</strong><br />
            Albertus-Magnus-Platz<br />
            50923 Köln<br />
            <abbr title="Telephone">T:</abbr> (+49) 0221 / 470-0
          </address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-condensed">
            <h3>Development</h3>
            <address>
            <strong>Alena Geduldig</strong><br />
            Albertus-Magnus-Platz<br />
            50923 Köln<br />
            <abbr title="E-Mail">M:</abbr> ageduldi@uni-koeln.de
          </address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-condensed">
            <h3>Development</h3>
            <address>
            <strong>Philip Schildkamp</strong><br />
            Albertus-Magnus-Platz<br />
            50923 Köln<br />
            <abbr title="E-Mail">M:</abbr> philip.schildkamp@lmu.de<br />
          </address>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
