<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Dashboard')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Dashboard</h2>
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-inverse">
            <div class="panel-heading">Summary</div>
            <ul class="list-group">
              <li class="list-group-item">
                <strong>22</strong> active groups</li>
              <li class="list-group-item">
                <strong>107</strong> scheduled chirps</li>
              <li class="list-group-item">
                <strong>0</strong> emitted chirps</li>
              <li class="list-group-item">
                <strong>1d 22m 34s</strong> until next chirp</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Upcoming tweets</div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Group</th>
                  <th>Content</th>
                  <th>When</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lyrics</td>
                  <td>Diese Shows füllen mich aus und auch mein Portemonnaie, also hebt die Hände wenn das für Euch in Ordnung geht.</td>
                  <td>1d 22m 34s</td>
                </tr>
                <tr>
                  <td>General</td>
                  <td>Just need to say, autoChirp is awesome! Try it and You'll be convinced, I promise!</td>
                  <td>12d 2h 15s</td>
                </tr>
                <tr>
                  <td>Lyrics</td>
                  <td>It's a wonderful night, You gotta take it from me, it's a wonderful night, come on and break it on down.</td>
                  <td>76d 18h 56s</td>
                </tr>
                <tr>
                  <td>Lyrics</td>
                  <td>I'm stepping through the door and I'm floating in a most peculiar way.</td>
                  <td>121d 3h 12s</td>
                </tr>
                <tr>
                  <td>Events</td>
                  <td>Don't forget, there's a convention coming up! Better ready Ya'rr ol' crraft, matey!</td>
                  <td>152d 9h 13s</td>
                </tr>
                <tr>
                  <td>General</td>
                  <td>I can see dead code! Let's refactor.</td>
                  <td>160d 12h 1s</td>
                </tr>
                <tr>
                  <td>Lyrics</td>
                  <td>Go ... Go to the mountain if you must, go to the burning bush, happy would ease your troubled mind.</td>
                  <td>187d 8h 44s</td>
                </tr>
                <tr>
                  <td>General</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, dui at bibendum feugiat, nisi magna convallis mi.</td>
                  <td>205d 23h 19s</td>
                </tr>
                <tr>
                  <td>General</td>
                  <td>This shall be the last automated tweet. At least without a new import!</td>
                  <td>223d 4h 37s</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
