<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Error')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="jumbotron">
      <div class="container">
        <h1><strong>Sorry</strong> an error occurred</h1>
        <p th:text="${error}">It seems that there has been an error with Your last action.
          Please double-check and try again.</p>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
