<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Groups')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Tweet groups
            <small>View and edit Your tweet groups</small></h2>
          <hr></hr>
        </div>
      </div>
      <div th:if="${#lists.isEmpty(tweetGroups)}" class="row">
        <div class="col-md-12">
          <h3 class="text-danger">You don't have any groups yet!</h3>
        </div>
      </div>
      <div th:unless="${#lists.isEmpty(tweetGroups)}" class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th class="text-center">Status</th>
                  <th class="text-center fixlist">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tweetGroup : ${tweetGroups}">
                  <td th:text="${tweetGroup.title}"></td>
                  <td th:text="${tweetGroup.description}"></td>
                  <td class="text-center">
                    <span class="label" th:classappend="${tweetGroup.enabled} ? label-success : label-danger" th:text="${tweetGroup.enabled} ? Enabled : Disabled"></span>
                  </td>
                  <td class="text-center">
                    <a th:href="@{/groups/view/} + ${tweetGroup.groupID}">View</a> |
                    <a th:href="@{/groups/edit/} + ${tweetGroup.groupID}">Edit</a> |
                    <a th:href="@{/groups/delete/} + ${tweetGroup.groupID}">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="panel-footer">
              <nav class="text-center">
                <ul class="pagination">
                  <li><a href="#" aria-label="First"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a></li>
                  <li><a href="#" aria-label="Previous"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
                  <li class="disabled"><a href="#">…</a></li>
                  <li><a href="#">15</a></li>
                  <li><a href="#">16</a></li>
                  <li class="active"><a href="#">17 <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">18</a></li>
                  <li><a href="#">19</a></li>
                  <li class="disabled"><a href="#">…</a></li>
                  <li><a href="#" aria-label="Next"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></li>
                  <li><a href="#" aria-label="Last"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
