<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Help')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Usage instructions</h2>
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 bs-docs-content">

          <section id="help_tweets" class="group">
            <h3>Tweets</h3>
            <p class="text-justify"></p>
            <div id="help_tweets_view" class="subgroup">
              <h4>Viewing Your Tweets</h4>
              <p class="text-justify"></p>
            </div>
            <div id="help_tweets_add" class="subgroup">
              <h4>Adding new Tweets</h4>
              <p class="text-justify"></p>
            </div>
            <div id="help_tweets_edit" class="subgroup">
              <h4>Editing Tweets</h4>
              <p class="text-justify"></p>
            </div>
          </section>

          <hr></hr>

          <section id="help_groups" class="group">
            <h3>Groups</h3>
            <p  class="text-justify"></p>
            <div id="help_groups_view" class="subgroup">
              <h4>Viewing Your groups</h4>
              <p  class="text-justify"></p>
            </div>
            <div id="help_groups_add" class="subgroup">
              <h4>Adding new groups</h4>
              <p  class="text-justify"></p>
            </div>
            <div id="help_groups_edit" class="subgroup">
              <h4>Editing groups</h4>
              <p  class="text-justify"></p>
            </div>
          </section>

          <hr></hr>

          <section id="help_imports" class="group">
            <h3>Imports</h3>
            <p  class="text-justify"></p>
            <div id="help_imports_tsv-file" class="subgroup">
              <h4>Importing TSV-files</h4>
              <p  class="text-justify"></p>
              <p  class="text-justify"></p>
            </div>
            <div id="help_imports_wikipedia" class="subgroup">
              <h4>Importing from Wikipedia</h4>
              <p  class="text-justify"></p>
            </div>
          </section>

        </div>
        <nav class="col-md-2 bs-docs-sidebar">
          <ul id="sidebar" class="nav nav-stacked fixed">
            <li>
              <a href="#help_tweets">Tweets</a>
              <ul class="nav nav-stacked">
                <li><a href="#help_tweets_view">Viewing Tweets</a></li>
                <li><a href="#help_tweets_add">Adding Tweets</a></li>
                <li><a href="#help_tweets_edit">Editing Tweets</a></li>
              </ul>
            </li>
            <li>
              <a href="#help_groups">Groups</a>
              <ul class="nav nav-stacked">
                <li><a href="#help_groups_view">Viewing groups</a></li>
                <li><a href="#help_groups_add">Adding groups</a></li>
                <li><a href="#help_groups_edit">Editing groups</a></li>
              </ul>
            </li>
            <li>
              <a href="#help_imports">Imports</a>
              <ul class="nav nav-stacked">
                <li><a href="#help_imports_tsv-file">Importing TSV-files</a></li>
                <li><a href="#help_imports_wikipedia">Importing from Wikipedia</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
