<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Help')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Usage help</h2>
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 bs-docs-content">
          <section id="GroupA" class="group">
            <h3>Group A</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lobortis lorem. Donec interdum justo a mi facilisis, quis efficitur sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. Nam eu leo tellus. Nulla egestas ullamcorper ligula, sit amet pellentesque ipsum cursus eu. Nam at elementum turpis. Mauris quis ligula metus. Mauris turpis nunc, ultrices vitae mi in, ultrices
              hendrerit nisi.
            </p>
            <div id="GroupASub1" class="subgroup">
              <h4>Group A Sub 1</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lobortis lorem. Donec interdum justo a mi facilisis, quis efficitur sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam eu leo tellus. Nulla egestas ullamcorper ligula, sit amet pellentesque ipsum cursus eu. Nam at elementum turpis. Mauris quis ligula metus. Mauris turpis nunc, ultrices vitae mi in, ultrices
                hendrerit nisi.
              </p>
              <p>
                Cras porta odio sollicitudin nisl pharetra, et convallis turpis accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec felis tortor, sagittis sed ex posuere, tristique ornare libero. Mauris porttitor,
                arcu sit amet semper finibus, nisl sem consectetur massa, ac eleifend metus ipsum eu ipsum. Suspendisse non erat commodo erat tempus molestie vitae eu lacus. Sed at laoreet est. Quisque pretium massa non velit rhoncus, nec gravida leo
                posuere. Suspendisse quis mattis urna, et rhoncus sapien. Phasellus volutpat sed mauris eget malesuada. Vestibulum ultrices, lorem ut venenatis sagittis, dolor enim molestie orci, et pretium eros dolor ac eros. Aenean odio metus, vulputate
                vel imperdiet quis, venenatis id libero.
              </p>
            </div>
            <div id="GroupASub2" class="subgroup">
              <h4>Group A Sub 2</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lobortis lorem. Donec interdum justo a mi facilisis, quis efficitur sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam eu leo tellus. Nulla egestas ullamcorper ligula, sit amet pellentesque ipsum cursus eu. Nam at elementum turpis. Mauris quis ligula metus. Mauris turpis nunc, ultrices vitae mi in, ultrices
                hendrerit nisi.
              </p>
              <p>
                Nullam nec lacinia erat, a venenatis ligula. Nulla nec scelerisque lectus. Quisque eget neque mollis, suscipit nulla a, egestas odio. Etiam consequat, dui vitae dictum viverra, sem lorem pharetra justo, eu tincidunt lorem neque quis ex. Curabitur pellentesque
                cursus enim, et auctor elit semper a. Etiam sed velit finibus, finibus est lacinia, eleifend urna. Praesent pharetra, mauris ut feugiat sagittis, sapien nisi rutrum odio, id vehicula erat nibh a dolor. Donec sodales lobortis metus ut vulputate.
                Cras ac lorem mollis, varius sem eu, sodales lacus. In a tortor vel velit mollis euismod.
              </p>
            </div>
          </section>
          <hr></hr>
          <section id="GroupB" class="group">
            <h3>Group B</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lobortis lorem. Donec interdum justo a mi facilisis, quis efficitur sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. Nam eu leo tellus. Nulla egestas ullamcorper ligula, sit amet pellentesque ipsum cursus eu. Nam at elementum turpis. Mauris quis ligula metus. Mauris turpis nunc, ultrices vitae mi in, ultrices
              hendrerit nisi.
            </p>
            <p>
              Morbi et egestas sapien. Sed at lacus nunc. Cras dictum lorem nec libero vulputate, id fermentum dui eleifend. Etiam faucibus tristique justo, non cursus ante semper sit amet. Nunc eu odio feugiat, feugiat elit eu, lacinia nisi. Praesent est mi, eleifend
              bibendum augue ac, egestas varius ante. Donec ornare pretium turpis ut vestibulum. Suspendisse ac euismod lectus. Nunc eget augue ut velit dapibus viverra. Proin vestibulum, dolor mattis fermentum fermentum, lacus odio dignissim ligula,
              ut iaculis elit ante rhoncus massa. Donec sem nulla, laoreet nec porttitor eget, mattis a nisl. Aenean volutpat malesuada ligula, volutpat condimentum neque sagittis vel. Pellentesque venenatis pellentesque libero, hendrerit eleifend urna
              hendrerit at. Cras cursus metus in luctus congue. Phasellus eu accumsan purus.
            </p>
            <p>
              Nunc ultricies sapien dolor, eu commodo dui molestie gravida. Nulla vel mauris eget augue auctor finibus et at ipsum. Curabitur tortor felis, viverra sed aliquam quis, accumsan id eros. Proin at urna sapien. Morbi vestibulum nibh ac enim tristique suscipit.
              Mauris nec magna velit. Aliquam commodo accumsan arcu eu rhoncus. Integer ac tortor eget ligula aliquam porttitor feugiat ut eros. Nullam mollis sem eget sodales posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
              cubilia Curae; Nulla enim risus, accumsan viverra cursus molestie, tincidunt non ipsum. Quisque hendrerit, elit eu cursus aliquam, nisi est laoreet justo, et elementum orci purus sit amet ligula. Pellentesque habitant morbi tristique senectus
              et netus et malesuada fames ac turpis egestas. Nunc vehicula dignissim massa. Integer imperdiet, sem gravida tempus dictum, ligula velit ultricies eros, eu condimentum nisl est eu arcu. Etiam eu porta magna, ut semper sapien.

            </p>
            <div id="GroupBSub1" class="subgroup">
              <h4>Group B Sub 1</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lobortis lorem. Donec interdum justo a mi facilisis, quis efficitur sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam eu leo tellus. Nulla egestas ullamcorper ligula, sit amet pellentesque ipsum cursus eu. Nam at elementum turpis. Mauris quis ligula metus. Mauris turpis nunc, ultrices vitae mi in, ultrices
                hendrerit nisi.
              </p>
            </div>
            <div id="GroupBSub2" class="subgroup">
              <h4>Group B Sub 2</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lobortis lorem. Donec interdum justo a mi facilisis, quis efficitur sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam eu leo tellus. Nulla egestas ullamcorper ligula, sit amet pellentesque ipsum cursus eu. Nam at elementum turpis. Mauris quis ligula metus. Mauris turpis nunc, ultrices vitae mi in, ultrices
                hendrerit nisi.
              </p>
              <p>
                Ut blandit nibh vitae sollicitudin condimentum. Suspendisse dignissim mattis diam, non tempor quam congue eu. Pellentesque dapibus diam quis varius dignissim. Nulla efficitur dolor quis ligula posuere, ut bibendum nibh rhoncus. Nunc pretium ac elit gravida
                suscipit. Aliquam sed tristique mi, nec maximus diam. Donec bibendum lectus id sem iaculis auctor. Vestibulum at varius nisi. Cras suscipit urna at nisi commodo eleifend. Vestibulum et eros sit amet diam posuere fringilla sed at est. Fusce
                dictum nibh eget massa viverra, sit amet dignissim nulla consequat. Vivamus dapibus pharetra lobortis. Vivamus bibendum aliquet eros, vitae aliquam nisl efficitur et. Ut a finibus ligula. Ut venenatis ipsum at lorem dignissim hendrerit.
                Vestibulum nec dolor lacinia, fermentum ex eu, rutrum turpis.
              </p>
            </div>
          </section>
          <hr></hr>
          <section id="GroupC" class="group">
            <h3>Group C</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lobortis lorem. Donec interdum justo a mi facilisis, quis efficitur sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. Nam eu leo tellus. Nulla egestas ullamcorper ligula, sit amet pellentesque ipsum cursus eu. Nam at elementum turpis. Mauris quis ligula metus. Mauris turpis nunc, ultrices vitae mi in, ultrices
              hendrerit nisi.
            </p>
            <div id="GroupCSub1" class="subgroup">
              <h4>Group C Sub 1</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lobortis lorem. Donec interdum justo a mi facilisis, quis efficitur sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam eu leo tellus. Nulla egestas ullamcorper ligula, sit amet pellentesque ipsum cursus eu. Nam at elementum turpis. Mauris quis ligula metus. Mauris turpis nunc, ultrices vitae mi in, ultrices
                hendrerit nisi.
              </p>
              <p>
                Nunc egestas dolor in vehicula placerat. In lacus ligula, dignissim eget elementum sed, sollicitudin vestibulum tortor. Nulla rutrum mauris tellus. Vivamus et faucibus lorem. Pellentesque porttitor in augue vel hendrerit. Quisque eget odio in nisl placerat
                tincidunt at eu sem. Nullam efficitur massa porta est posuere auctor vitae vel nulla. Nam dui odio, aliquet sit amet dictum a, suscipit quis est.
              </p>
            </div>
            <div id="GroupCSub2" class="subgroup">
              <h4>Group C Sub 2</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lobortis lorem. Donec interdum justo a mi facilisis, quis efficitur sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam eu leo tellus. Nulla egestas ullamcorper ligula, sit amet pellentesque ipsum cursus eu. Nam at elementum turpis. Mauris quis ligula metus. Mauris turpis nunc, ultrices vitae mi in, ultrices
                hendrerit nisi.
              </p>
            </div>
          </section>
        </div>
        <nav class="col-md-2 bs-docs-sidebar">
          <ul id="sidebar" class="nav nav-stacked fixed">
            <li>
              <a href="#GroupA">Group A</a>
              <ul class="nav nav-stacked">
                <li><a href="#GroupASub1">Sub-Group 1</a></li>
                <li><a href="#GroupASub2">Sub-Group 2</a></li>
              </ul>
            </li>
            <li>
              <a href="#GroupB">Group B</a>
              <ul class="nav nav-stacked">
                <li><a href="#GroupBSub1">Sub-Group 1</a></li>
                <li><a href="#GroupBSub2">Sub-Group 2</a></li>
              </ul>
            </li>
            <li>
              <a href="#GroupC">Group C</a>
              <ul class="nav nav-stacked">
                <li><a href="#GroupCSub1">Sub-Group 1</a></li>
                <li><a href="#GroupCSub2">Sub-Group 2</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
