<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Home')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="jumbotron">
      <div class="container">
        <h1><strong>autoChirp</strong> welcomes You</h1>
        <p>Hi there, I'm autoChirp and I'll assist You scheduling the spread of Your words!</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Scheduling</h3>
          <p class="text-justify">
            You know how You always get annoyed by people, telling You to put Your phone away while You're eating at that awesome burgershop?
            Don't they know Your followers need to know about Your whereabouts? However, here's the solution!
            Just schedule ahead a Tweet on autoChirp as soon as You get Your reservation for the place.
            Then all Your followers will rest assured that Your greasy needs are fed and no-one will argue about the necessity of basic human interaction, actually, tweeting at the table.
            And as premium-profit: You'll avoid those nasty stains of gravy on Your favorite touchscreened companion.
          </p>
        </div>
        <div class="col-md-4">
          <h3>Annotations</h3>
          <p class="text-justify">
            It's always the same, that yuppie neighbor and his peke showing of on random pictures at random spots all over the place!
            How does he do that? He seems to never rest but just drive around the country to put up pictures of his ugly dog.
            Well, there's one easy explanation: He's using autoChirp to post Tweets with attached pictures and specified geolocations.
            And so could You! Just take all those holiday-pictures You didn't show anyone, because no-one asked,
            and make up some nice places You always wanted to visit, sit back and see the envy grow while You embark on that fakefull journey.
          </p>
        </div>
        <div class="col-md-4">
          <h3>Imports</h3>
          <p class="text-justify">
            Using autoChirp You can enjoy the ease of importing Your personal Tweet-future! Just upload a tab-seperated-file containing the time and date and the Tweet-content.
            And if You wish, add an image and maybe some GPS coordinates to the mix for maximum jet setter profit.
            Or, You could surprise all Your followers by digging up daily knowledge about Your (or their) favorite history/ science/ comic/ whatever topic!
            But don't worry, no-one actually expects You to read those Wikipedia-articles all by Yourself. Just use autoChirp!
            It will read all the articles You feed it, look for dates and spit out the epicness that happened then.
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
