<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Import')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Group import
            <small>Import Your custom tweet groups</small></h2>
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" th:action="${#httpServletRequest.requestURI}" method="post">
            <div class="form-group">
              <label for="importer" class="col-sm-2 control-label">Import type</label>
              <div class="col-sm-10">
                <select id="importer" name="importer" required="required" class="form-control" th:size="${#maps.size(importers)}">
                  <option th:each="importer : ${importers}" th:value="${importer.key}" th:text="${importer.value}"></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="source" class="col-sm-2 control-label">Import source</label>
              <div class="col-sm-10">
                <input type="url" class="form-control" id="source" name="source" required="required" placeholder="https://www.example.org">
                </input>
              </div>
            </div>
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" required="required" placeholder="My group">
                </input>
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" required="required" placeholder="A group with my tweets">
                </input>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Actions</label>
              <div class="col-sm-10">
                <button th:unless="${#httpServletRequest.requestURI.startsWith('/groups/view/')}" type="submit" class="btn btn-success">
                  <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Import group</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
