<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/include :: head (title='Login')"></head>

<body>
  <nav th:replace="../elements/include :: navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <form class="form-signin">
            <h2>Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus" />
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" />
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me" /> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <footer th:replace="../elements/include :: footer"></footer>
  <div th:replace="../elements/include :: scripts"></div>
</body>

</html>
