<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Home')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to <i>autoChirp</i>!</h1>
        <p>This tool will help You automate Your daily tweets. Use it to spread Your words based on a custom schedule.</p>
        <form action="/protoview" method="get">
          <div class="input-group">
            <span class="input-group-addon">Wikipedia-URI</span>
            <input type="url" name="url" class="form-control" placeholder="https://de.wikipedia.org/wiki/Köln"></input>
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Parse!</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>


  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
