<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/include :: head (title='Some tests')"></head>

<body>
  <nav th:replace="../elements/include :: navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>autoChirp tests</h2>
          <hr></hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-inverse">
            <div class="panel-heading">Parser testing</div>
            <div class="panel-body">
              <form th:action="@{/tests}" method="post">
                <div class="input-group">
                  <span class="input-group-addon">Wikipedia-URI</span>
                  <input type="url" name="url" class="form-control" placeholder="https://de.wikipedia.org/wiki/Köln"></input>
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Parse!</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">Twitter testing</div>
            <div class="panel-body">
              <form th:action="@{/tests}" method="post">
                <div class="input-group">
                  <span class="input-group-addon">Tweet-text</span>
                  <input type="text" name="tweet" maxlength="140" class="form-control" placeholder="autoChirp is awesome! :)"></input>
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Tweet!</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/include :: footer"></footer>
  <div th:replace="../elements/include :: scripts"></div>
</body>

</html>
