<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Tweets')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Scheduled tweets
            <small>View and edit Your scheduled tweets</small></h2>
          <hr></hr>
        </div>
      </div>
      <div th:if="${#lists.isEmpty(tweetsList)}" class="row">
        <div class="col-md-12">
          <h3 class="text-danger">You don't have any tweets yet!</h3>
        </div>
      </div>
      <div th:unless="${#lists.isEmpty(tweetsList)}" class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Group</th>
                  <th>Content</th>
                  <th class="text-center datelist">When</th>
                  <th class="text-right actionlist">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tweetEntry : ${tweetsList}" th:classappend="${false} ? danger">
                  <td><a th:href="@{/groups/view/} + ${tweetEntry.groupID}" th:text="${tweetEntry.groupName}"></a></td>
                  <td th:text="${tweetEntry.content}"></td>
                  <td th:text="${tweetEntry.tweetDate}" class="text-center"></td>
                  <td class="text-right">
                    <a th:href="@{/tweets/view/} + ${tweetEntry.tweetID}">View</a> |
                    <a th:href="@{/tweets/edit/} + ${tweetEntry.tweetID}">Edit</a> |
                    <a th:href="@{/tweets/delete/} + ${tweetEntry.tweetID}">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="panel-footer">
              <nav class="text-center">
                <ul class="pagination">
                  <li><a href="#" aria-label="First"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a></li>
                  <li><a href="#" aria-label="Previous"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
                  <li class="disabled"><a href="#">…</a></li>
                  <li><a href="#">15</a></li>
                  <li><a href="#">16</a></li>
                  <li class="active"><a href="#">17 <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">18</a></li>
                  <li><a href="#">19</a></li>
                  <li class="disabled"><a href="#">…</a></li>
                  <li><a href="#" aria-label="Next"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></li>
                  <li><a href="#" aria-label="Last"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
